@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #1E1E1E;
}

.basic {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #616161;
}

.sub_heading {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 24px;
    font-weight: 400;
    color: #1E1E1E;


}

/* =================================
Common css end
================================= */
/* =================================
         Menu part start
================================= */

.main_menu {
    padding: 41px 0 !important;
    background: #fff;
    transition: .3s;
}
.menu_active{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 999;
    background: #85f7da;
    padding: 20px !important;
    animation: menu_anim .5s;
}
@keyframes menu_anim {
 from{
    top: -100%;
 }  
 to{
    top: 0;
    left: 0;
 } 
}

.main_menu ul {
    gap: 34px;
}

.main_menu ul li a {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #616161 !important;
    position: relative;
}

.main_menu ul li a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: #007F5F;
    transition: all linear .2s;
}

.main_menu ul li a:hover::after {
    width: 100%;
}

.main_menu .menu_button a {
    padding: 16px 35px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #007F5F;
    border-radius: 17px;
}

.main_menu .menu_button a:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}

/* =================================
         Menu part end
================================= */
/* back to top button start */
.back_to_top{
    position: fixed;
    font-size: 30px;
    right: 5%;
    bottom: 80%;
    color: #007F5F;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.back_to_top i{
    background: #fff;
    border-radius: 50%;
}
.back_to_top_active{
    opacity: 1;
    visibility: visible;
    bottom: 10%;
}
/* back to top button end */
/* =================================
         Banner part start
================================= */
#banner {
    padding: 120px 0 145px;
    position: relative;
    z-index: 1;
}

#banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    z-index: -1;
}

.banner_text h1 {
    width: 575px;
    font-size: 65px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 80px;
}

.banner_text p {
    width: 530px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 30px 0 40px;
}

.banner_button a {
    padding: 16px 35px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #007F5F;
    border-radius: 17px;
    transition: all linear .2s;
}

.banner_button a:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}

.banner_search {
    padding: 24px;
    background: #fff;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 10px;
    margin-top: 60px;
}

.search_item h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    color: #292929;
    line-height: 26px;
}

.search_item h3 span {
    margin: 0 10px;
}

.search_item input {
    border: none;
    margin-left: 26px;
}

.search_button button {
    padding: 30px;
    background: #007F5F;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.search_button button:hover {
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}

.sch {
    color: #007F5F
}

/* =================================
         Banner part end
================================= */
/* =================================
         Travel part start
================================= */
#travel {
    padding: 150px 0;
}

.travel_heading {
    text-align: center;
    margin-bottom: 112px;

}

.travel_heading p {
    width: 690px;
    margin: 20px auto 0;
}

.travel_items {
    padding: 60px 0 60px 45px;
    border-radius: 14px;
    cursor: pointer;
    transition: .3s;
}

.travel_items h3 {
    margin: 40px 0 20px;
}

.travel_items p {
    width: 255px;
}

.travel_items .travel_image {
    padding: 18px 24px;
    background: rgba(0, 127, 95, 0.10);
    border-radius: 14px;
    width: fit-content;
}

.travel_items:hover {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/* =================================
         Travel part end
         ================================= */
/* =================================
         Destination part start
         ================================= */
#destination {
    padding-bottom: 150px;
}

.dest_heading {
    text-align: center;
    margin-bottom: 60px;
}

.dest_heading p {
    width: 690px;
    margin: 20px auto 0;
}

.dest_items {
    padding: 20px 20px 40px;
    margin: 0 15px;
    border-radius: 14px;
}

.dest_images {
    border-radius: 14px;
    overflow: hidden;
}
.dest_items h3{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    margin-top: 20px;
    
}
.dest_items p{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;

}
.dest_main_icon  a {
   color:#E0E0E0;
}


.dest_button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}
.dest_button {
    padding: 16px 35px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    border-radius: 17px;
    border-color: #007F5F;
    margin-top: 40px;
    color: #007F5F;
}
.dest_main_icon a:first-child {
    color: #FF8B00; 
}
.dest_main_icon a:last-child {
    color: #FF8B00; 
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}
.dest_button button {
    color: #007F5F;
}
.dest_slider .slick-center {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.slick-center button{
    padding: 16px 35px; 
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: #007F5F;
    border-radius: 17px;
    color: #fff;
    
}
.slick-center .dest_button {
    background-color: #007F5F;
}

/* =================================
            Destination part end
================================= */
/* =================================
         Counter part end
================================= */
#counter{
    padding: 150px 0;
    background: rgba(30, 30, 30, 0.05);
}
.counter_text h2{
    width: 418px;
}
.counter_text >p{
    width: 516px;
    margin: 20px 0 10px;
}

.counter_text ul li{
    display: flex ;
    justify-items: start;
    gap: 10px;
}

.counter_text ul li span{
    color: #007F5F;
}
.counter_text ul li p{
    width: 338px;
}
.counter_button{
    padding: 16px 35px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: #007F5F;
    border-radius: 17px;
    border-color: #007F5F;
    margin-top: 30px;
    color: #fff;
    width: fit-content;
}
.counter_button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}
.counter_text{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.counter_items{
    padding: 60px 0 60px 30px;
    background-color: #fff;
    border-radius: 17px;
    transition: 0.3s;
    cursor: pointer;
}
.counter_items .counter_icon{
    background-color: rgba(0, 127, 95, 0.10);
    padding: 20px 25px;
    width: fit-content;
    color: #007F5F;
    font-size: 35px;
    border-radius: 14px;
}
.counter_items h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #1E1E1E;
    margin-top: 20px;
}
.counter_items:hover{
    background-color: #007F5F;
}
.counter_items:hover h3{
    color: #fff;
}
.counter_items:hover p{
    color: #fff;
}
.counter_items:hover .counter_icon{
    background-color: #fff;
}
    /* =================================
         Counter part end
================================= */
/* =================================
         Places part end
================================= */
#places{
    padding: 150px 0 ;
}
.places_button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}
.places_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.places_button{
    padding: 16px 35px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: #007F5F;
    border-radius: 17px;
    border-color: #007F5F;
    color: #fff;
    width: fit-content;
}



.places_text >p{
    padding: 20px 0 40px;
    width: 430px;
}
.places_text ul li{
    display: flex ;
    justify-items: start;
    gap: 10px;
    padding: 20px 30px 15px;
}
.places_text ul li span{
    color: #007F5F;
}


.places_search ul li:first-child span{
    margin: 0 0 0 16px;
}
.places_search ul li:first-child p{

        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #616161;
    
}

.places_search{
    margin-top: 350px;
    position: absolute;
    left: -100px;
    bottom: 5%;
}

.places_search ul li:hover{
     transform: scale(1.05);
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}
.places_search ul li{
    display: flex;
    align-items: center;
    width: 350px;
    height: 50px;
    color: #007F5F;
    background: #fff;
    right: 5px; 
    border-radius: 8px;
    justify-content: space-between;
    padding: 0 20px 0 10px;
}
.places_images_search{
    position: relative;
}
.places_images_3{
    position: relative;
}
/* ================================= */
    .place_accordion{
    width: 420px;
}
.place_accordion .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}
.place_accordion .accordion-item{
    background: rgba(0, 127, 95, 0.10);
    border: none;
    border-radius: 14px;
}

.place_accordion button{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #1E1E1E;
    font-family: 'Poppins', sans-serif;
}
.place_accordion button span{
    width: 20px;
    height: 20px;
    border: 2px solid #1E1E1E;
    border-radius: 50%;
    margin-right: 10px;
}
.place_accordion .accordion-button:not(.collapsed) span{
    background: #007F5F;
    border-color: #007F5F;
}
.places_images{
    position: relative;
}
.places_images p{
    font-family: 'Open Sans', sans-serif;
}
.places_cont_1:hover{
    transform: scale(1.5);
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}

.places_cont_1{
    padding: 12px 25px 12px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 25px -10px;
    width: fit-content;
    position: absolute;
    top: 350px;
    left: 45px;
    color: #616161;
    background: #fff;
    cursor: pointer;
}
.places_cont_2:hover{
    transform: scale(1.5);
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}

.places_cont_2{
    padding: 12px 25px 12px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 25px -10px;
    width: fit-content;
    position: absolute;
    top: 425px;
    left: 60px;
    color: #616161;
    background: #fff;
    cursor: pointer;
}
.places_cont_3:hover{
    transform: scale(1.5);
    box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
}

.places_cont_3{
    padding: 12px 25px 12px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 25px -10px;
    width: fit-content;
    position: absolute;
    top: 500px;
    left: 45px;
    color: #616161;
    background: #fff;
    cursor: pointer;
}
/* ================================= */ 
/* =================================
         Places part end
================================= */
/* =================================
         Explore part start
================================= */
    #explore{
        padding-bottom: 265px;
    }
    .explore_text h2{
        margin-bottom: 20px;
    }
    .explore_text p{
        width: 485px;
    }
    .explore_nav button{
        background-color: #f3f3f3;
        border-radius: 17px !important;
        color: #616161;
    }
    .explore_nav button:hover{
        color: #616161;
        transition: scale(1.5);
        box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
    }
    .explore_nav .active{
        background-color: #007F5F !important;
        color: #fff !important;
    }
    .explore_nav .nav{
        gap: 30px;
    }
    .explore_nav .nav-tabs{
        border: none;
    }
    
    .explore_items{
        padding: 21px 20px 30px 21px;
        margin-top: 115px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        border-radius: 14px;
    }
    .explore_items h2{
        margin-bottom: 20px;
    }
    .explore_items p{
        margin-bottom: 14px;
    }
    .explore_items p samp{
        margin-right: 14px;
    }
    .explore_items .explore_img img{
        border-radius: 14px;
    }
/* =================================
         Explore part end
================================= */
/* =================================
Testimonial part Start
================================= */
#testimonial{
    padding-bottom: 250px;
   
}
.text_img{
    position: relative;
}
.items_1 {
	position: absolute;
	right: 65px;
	top: -180px;
	width: 114px;
}
.items_2 {
	position: absolute;
	right: 300px;
	top: 15px;
	width: 80px;
}
.items_3 {
	position: absolute;
	right: 500px;
	top: 85px;
	width: 123px;
}
.items_4 {
	position: absolute;
	right: 325px;
	top: 300px;
	width: 84px;
}
.items_5 {
	position: absolute;
	right: 60px;
	top: 180px;
	width: 107px;
}
.test_text  .test_slider_text h2{
    margin: 15px 0;
}
.test_text p samp{
    color: #007F5F;
    font-size: 45px;
}
.test_slider{
    margin-bottom: 24px;
}
.test_slider .slick-dots{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 160px;
}
.test_slider .slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #C4C4C4;
}
.test_slider .slick-dots .slick-active button {
    background-color: #007F5F;
}
/* =================================
         Testimonial part End
================================= */
/* =================================
         Subscribe part Start
================================= */
    #subscribe{
        padding: 150px 0;
    }
    .subscribe_text{
        text-align: center;
    }
    .subscribe_text h2{
        width: 659px;
        color: #fff;
        margin: 0 auto;
    }
    .subscribe_text p{
        width: 565px;
        color: #fff;
        margin: 20px auto;
    }
    .input_button{
        border-radius: 17px;
        background: #fff;
        padding: 10px 10px 10px 25px;
        width: 770px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .input_button input{
        border: none;
    }
    .input_button button{
        padding: 29px 39px;
        color: #fff;
        background: #007F5F;
        border-radius: 17px;
        border: none;
    }
    .input_button button:hover{
        transition: scale(1.5);
        box-shadow: 0px 0px 40px 3px rgba(0, 127, 95, 0.5);
    }
    /* =================================
    Subscribe part End
================================= */
/* =================================
         fotter part Start
================================= */
    #fotter{
        padding: 150px 0 105px 0;
    }
    .fotter_icon{
        display: flex;
        gap: 40px;
        margin-top: 40px;
        font-size: 30px;
    }
    .fotter_icon .icon_1{
        color: #1877F2;
    }
    .fotter_icon .icon_2{
        color: #1DA1F2;
    }
    .fotter_icon .icon_3{
        color: #0A66C2;
    }
    .fotter_icon .icon_4{
        color: #E60019;
    }
    .fotter_text_add{
        width: 344px;
        margin-top: 46px;
    }
    .fotter_text h2{
        margin-bottom: 30px;
    }
    .fotter_text p{
        width: 70px;
        line-height: 50px;
    }
/* =================================
         fotter part End
================================= */
